@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* RESET  */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 320;
}

html {
    scroll-behavior: smooth;
}

:root {
    --WHITE: #fff;
    --BLACK: #000;
}

img {
    max-width: 100%;
    display: block;
}

/* GENERAL STYLING  */

/* HEADER  */
header {
    background-image: url(./images/architect.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}

.overlay,
.open {
    display: none;
}

.topnav {
    background-color: var(--WHITE);
    padding: .5rem 1rem;
    height: 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    font-weight: 300;
    z-index: 2;
}

.logo {
    display: inline-block;
    color: var(--WHITE);
    padding: 5px 8px;
    background-color: var(--BLACK);
}

.nav__link {
    float: right;
    word-spacing: .5rem;
    text-transform: capitalize;
    padding: .6rem 1.2rem;
}

.nav__link a {
    padding: 1rem 2rem;
    display: inline;
    text-decoration: none;
    color: var(--BLACK);
    border-bottom: 2px solid transparent;
}

.nav__link a:hover {
    border-radius: 15px;
    background-color: #ddd;
}


.log {
    position: absolute;
    color: var(--WHITE);
    font-size: 1.8rem;
    letter-spacing: 4px;
    font-weight: 300;
    background-color: transparent;
}

.center {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 1.4rem;
}

/* MAIN  */
main {
    margin-top: 2rem;
    width: min(100% - 5vw);
    margin-inline: auto;
}

main h2 {
    font-weight: 400;
    font-size: 2rem;
    text-transform: capitalize;
    padding: 20px 0;
}

.img__content span {
    position: absolute;
    background-color: var(--BLACK);
    color: var(--WHITE);
    top: 0;
    padding: 6px 12px;
    text-transform: capitalize;
}

.image {
    position: relative;
}

.images {
    display: grid;
    gap: .8rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* SECTION 2  */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

/* CARDS  */
.section__two {
    margin-top: 4rem;
}

.section__two h2 {
    margin-bottom: -.1rem;
}

.card__content {
    text-transform: capitalize;
}

.card__content h3 {
    opacity: .9;
}

.card__content h4 {
    opacity: .8;
    margin-top: -.7rem;
}

.btn {
    width: 350px;
    max-width: 100%;
    padding: 10px 20px;
    text-transform: capitalize;
    max-width: 100%;
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
}

.btn:hover {
    border-color: grey;
}

/* SECTION THREE  */
input {
    margin-bottom: 1rem;
    width: 90%;
    padding: 20px 15px;
    display: block;
    outline: none;
}
input:focus {
    outline: 1px solid gray;
}
.section__three {
    margin-top: 1rem;
}

.section__three h2 {
    margin-bottom: -1rem;
}
#btn {
    padding: 10px 40px;
    background-color: var(--BLACK);
    color: var(--WHITE);
    cursor: pointer;
}
#btn:hover {
    background-color: var(--WHITE);
    color: var(--BLACK);
    transition: .5s;
}
footer img {
    margin-top: 4rem;
    width: 100%;
}
footer p {
    background-color: var(--BLACK);
    height: 50px;
    margin-bottom: 0;
    text-align: center;
    padding-top: 1rem;
    color: var(--WHITE);
}
footer p a {
    color: var(--WHITE);
}
footer a:hover {
    color: green;
}
@media screen and (max-width: 768px) {
    main {
        width: min(100% - 7vw);
        margin-inline: auto;
    }

    .center {
        left: 40%;
    }

    header {
        height: 60vh;
    }

    .overlay {
        position: fixed;
        top: 46px;
        left: 0;
        background-color: hsla(0, 0%, 87%, 0.665);
        backdrop-filter: blur(5px);
        width: 0;
        height: 100%;
        z-index: 100;
        transition: .5s;
        overflow-x: hidden;
    }

    .overlay,
    .open {
        display: block;
    }

    .overlay__content a {
        color: var(--BLACK);
        display: block;
        text-decoration: none;
        display: block;
        line-height: 50px;
        text-transform: capitalize;
        padding: 3px 1rem;
        padding-right: 2px !important;
        width: 45%;
    }

    .nav__link {
        display: none;
    }

    .open {
        position: fixed;
        right: 8px;
        top: 1rem;
        z-index: 100;
        width: 50px;
    }

    .topnav {
        height: 30px;
    }

    .overlay__content {
        position: relative;
        top: 20%;
        margin-left: 70px;
    }

    .overlay .close {
        position: absolute;
        top: 30px;
        right: 25px;
    }

    .overlay__content a:hover {
        background-color: #ddd;
        border-radius: 20px;
    }

}

@media screen and (max-width: 560px) {
    header {
        background-image: url(./images/architect.jpg);
        height: 45vh !important;
    }

    .center {
        left: 26%;
    }
    input {
        width: 85%;
    }
}

@media screen and (max-width: 1200px) {
    header {
        height: 70vh;
    }
}

@media screen and (max-width: 1024px) {
    header {
        height: 60vh;
    }
}